.bar-success {
  fill: #33b5e5;
}

.bar-failure {
fill: #CC0000;
}

.bar-error {
  fill: #CC0000;
}

.svg-holder {
    margin: 14px;
}

.chart-title {
    border: 1px solid #CCC;
    padding: 10px;
}

.chart {
    margin-left: 26px;
    overflow: visible;
}